:root {
  /* main colors */
  --primary-color: #cecece;
  --secondary-color: #2e2929;
  --tertiary-color: #db4f85;

  /* text colors */
  --title-text-color: #636363;
  --sub-title-text-color: #a6b2bd;
  --text-color: #737679;
  --white-color: #e7e7e7;

  /* button colors */
  --primary-button-color: #f0eeee;
  --secondary-button-color: #e7df65;
  --tertiary-button-color: #e63f3f;
  --primary-button-inverse-color: #f7f4f4;
  --secondary-button-inverse-color: #e6cc3e;
  --tertiary-button-inverse-color: #bd0808;

  /* colors */
  --green-color: #bafd90;
  --yellow-color: #fdffcd;
  --orange-color: #ffebbb;
  --red-color: #ffcab0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px dashed var(--tertiary-color);
  outline-offset: 0;
}

body {
  background-color: var(--primary-color);
  margin: 4px;
}

html {
  font: 16px sans-serif;
  color: var(--text-color);
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 48px;
  color: var(--title-text-color);
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

button {
  border-radius: 4px;
  border-width: 0;
  padding: 4px;
}

button:hover {
  border-radius: 4px;
  border-width: 0;
  padding: 4px;
}

.btn-primary {
  color: var(--text-color);
  background-color: var(--primary-button-color);
}


.btn-primary:hover,
.btn-primary--active {
  color: var(--tertiary-color);
  background-color: var(--primary-button-inverse-color);
}

.btn-secondary {
  color: var(--text-color);
  background-color: var(--secondary-button-color);
}

.btn-secondary:hover {
  color: var(--text-color);
  background-color: var(--secondary-button-inverse-color);
}

.btn-tertiary {
  color: var(--white-color);
  background-color: var(--tertiary-button-color);
}

.btn-tertiary:hover {
  color: var(--white-color);
  background-color: var(--tertiary-button-inverse-color);
}

.green-badge {
  background-color: var(--green-color);
}

.yellow-badge {
  background-color: var(--yellow-color);
}

.orange-badge {
  background-color: var(--orange-color);
}

.red-badge {
  background-color: var(--red-color);
}